.section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.heading{
    color: var(--clr-black);
    margin-bottom: 2rem;
}


.imagesContainer img{
    width: 500px;
    height: auto;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 700px;
    align-self: center;
}

.description a{
    text-decoration: none;
    background-color: var(--clr-green);
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    color: var(--clr-black);
    font-weight: 600;
    transition: 
    200ms color ease-in-out,
    200ms background-color ease-in-out
    ;
}

.description a:hover{
    background-color: var(--clr-black);
    color: var(--clr-green);
}