.section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.heading{
    color: var(--clr-black);
}

.imagesContainer{
    width: 1005;
}

.imagesContainer img{
    width: 500px;
    height: auto;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 50vw;
    align-self: center;
}

.description a{
    text-decoration: none;
    background-color: var(--clr-green);
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    color: var(--clr-black);
    font-weight: 600;
}