header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    background-color: var(--clr-black);
}

.pageHeading{
    color: var(--clr-green);
    text-decoration: none;
}



.menuList{
    display: flex;
    list-style: none;
    gap: 2rem;

}

.headerLink{
    text-decoration: none;
    color: var(--clr-gray);
    font-weight: 700;
    transition: 200ms color ease-in;
}

.headerLink:hover{
    color: var(--clr-green);
}

.burgerMenu{
    display: none;
    width: 30px;
    fill: var(--clr-gray);
}

@media (max-width:600px){

    .burgerMenu{
        display: block;
    }

    nav{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .menuList{
        display: none;
        position: absolute;
        flex-direction: column;
        gap:2rem;
        background-color: var(--clr-black);
        top: 3rem;
        padding: 2rem;
        border-radius: 10px;
        z-index: 10;
    }

    .show{
        display: flex;
    }
}