header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    background-color: var(--clr-black);
}

.pageHeading{
    color: var(--clr-green);
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.headerLink{
    text-decoration: none;
    color: var(--clr-gray);
    font-weight: 700;
    transition: 200ms color ease-in;
}

.headerLink:hover{
    color: var(--clr-green);
}