:root{
    /* colors */
    --clr-green:#b5e48c;
    --clr-black:#020202;
    --clr-gray:#ced4da;
    --clr-white:rgb(233, 233, 233);
    --clr-red-light:#dbb5b0;
    --clr-red:red;

    /* font-familys */
    --ff-geist:"Geist", sans-serif;
    --ff-inter:"Inter", sans-serif;
}


*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-inter);
  background-color: var(--clr-white);
  height: 100dvh;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--ff-geist);
}
#root, #__next {
  isolation: isolate;
}

#root{
  height: 100%;
}

main{
  height: 100%;
}